<header>
  <h2>Add Student Profile</h2>
</header>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="studentid">Student Id</label>
      <input type="text" name="id" id="id" formControlName="id">
      <div *ngIf="form.controls.id.errors?.id" class="error">
        Student Id cannot be empty and must be 9 characters
      </div>
    </li>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" formControlName="name">
    </li>
    <li>
      <label for="medium">Sex</label>
      <select name="medium" id="medium" formControlName="medium">
        <!--<option value="Male">Male</option>
        <option value="Female">Female</option>-->
        <option *ngFor="let sex of sexList.sex" value="{{ sex }}"> {{ sex }}</option>
      </select>
    </li>
    
    <li>
      <label for="category">Expertise</label>
      <select name="category" id="category" formControlName="category">
        <!--<option value="Application Development">Application Development</option>
        <option value="Data Analyst">Data Analyst</option>
        <option value="Networking">Networking</option> -->
        <option *ngFor="let expertise of expertiseList.expertise" value="{{ expertise }}"> {{ expertise }}</option>
      </select>
    </li>
    <li>
      <label for="year">Graduation Year</label>
      <input type="text" name="year" id="year" maxlength="4" formControlName="year">
    </li>
    <li>
      <label for="quotes">Student Quotes</label>
      <input type="text" name="quotes" id="quotes" maxlength="4" formControlName="quotes">
    </li>
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>